#lienzo{
    width: 300px;
    height: 300px;
    background-color: black;
}

.iconos-caja-herramienta{
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: darkmagenta;
    text-align: center;
}